<style>
  .noprint {
    border-bottom-style : inset;
    border-bottom-width : 1px;
    border-left-style : inset;
    border-left-width : 1px;
    border-right-style : inset;
    border-right-width : 1px;
    border-top-style : inset;
    border-top-width : 1px;
  }
</style>

<footer>
  <hr class="noprint" >
  <div class="wrapper">
    <div>
      <br>
      <div style="font-weight: bold; text-color: black; font-size: 13.3333px;">
        Contacts: 
      </div>
      <br>
      <div style="text-color: black; font-size: 13.3333px;">
        e-mail: {{ site.email }}
      </div>
    </div>
  </div>

</footer>