<style>
.common_footer {
}

.common_header {
  background-color : rgb(238,238,238);
}

.context_text { 
  text-align: left; 
  line-height: 140%;
}

.nav_anchor {
  text-decoration: underline; 
  white-space: pre; 
  vertical-align: text-bottom;
}

</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90638185-1', 'auto');
  ga('send', 'pageview');

</script>

<header class="common_header site-header" role="banner">
  <div class="wrapper">
    <span style="float: left;">
      <h3>{{ site.title | escape }}</h3>
      <div>&nbsp</div>
      <div>author: Yury Lapitsky</div>
      <div>e-mail: {{ site.email }}</div>
    </span>

    <span style="float: right;">
      <div>
        <span>
          [<a class="nav_anchor" href="/">home</a>]
        </span>
        <span>
          [<a class="nav_anchor" href="/posts">posts</a>]
        </span>
        <span>
          [<a class="nav_anchor" href="/projects">projects</a>]
        </span>
        <span>
          [<a class="nav_anchor" href="/about">about</a>]
        </span>
      </div>
      <br>
    </span>

  </div>

</header>
