<style>
.common_header {
  background-color : rgb(238,238,238);
  font-family: monospace; 
  font-size: 13.3333px;
}

.nav_anchor {
  text-decoration: underline; 
  white-space: pre; 
  vertical-align: text-bottom;
}

</style>
<header class="common_header site-header" role="banner">
  <div class="wrapper">
    <span style="float: left;">
      <div style="font-weight: bold;">{{ site.title | escape }}</div>
      <div>&nbsp</div>
      <div>author: Yury Lapitsky</div>
      <div>e-mail: {{ site.email }}</div>
    </span>

    <span style="float: right;">
      <div>
        <span>
          [<a class="nav_anchor" href="/">home</a>]
        </span>
        <span>
          [<a class="nav_anchor" href="/posts">posts</a>]
        </span>
        <span>
          [<a class="nav_anchor" href="/projects">projects</a>]
        </span>
        <span>
          [<a class="nav_anchor" href="/about">about</a>]
        </span>
      </div>
      <br>
    </span>

  </div>

</header>