<article class="music-album">
    <figure class="music-album_cover-wrapper">
        <div class="music-album_cover">
            <div class="music-cover-link">
                <a href="{% if include.currPost.external_url %}{{ include.currPost.external_url | relative_url }}{% else %}{{ include.currPost.url | relative_url }}{% endif %}" {% if include.currPost.external_url %}target="_blank"{% endif %}>
                    <img
                        {% if include.currPost.image_alt %}
                        alt="{{ include.currPost.image_alt }}"
                        {% endif %}
                        src="{{ include.currPost.image | relative_url }}"
                        {% if include.currPost.responsiveImage %}
                        srcset="{% for img in include.currPost.responsiveImage %}{{ img.src | relative_url }} {{ img.size }}w{% if forloop.last == false %},{% endif %}{% endfor %}"
                        sizes="20vw"
                        {% endif %}
                    />
                </a>
            </div>
        </div>
        {% if include.currPost.type %}
        {% endif %}
    </figure>
</article>
