---
layout: home_container
---

<div width="100%">
  <div class="wrapper context_text">
      </br>
      
      <div style="font-weight: bold; text-align: center"> Welcome to my homepage. </div>
      </br>

      <div> 

        My name is Yury Lapitsky and I'm a Software Engineer (whatever it means, I prefer it because it sounds good). My work lies mostly in the field of iOS applications development. [<a style="text-decoration: underline;" href="/about">about</a>] section contains more information related to my biography, hobbies and etc, in case you are interested in it. Another section on this website contains occasional posts related to software engineering and is available on the [<a style="text-decoration: underline;" href="/posts">blog</a>] page. I've started this blog as a try to share my thoughts about software engineering and related topics. It's one of the ways to organize information and experience in the form which could be useful later for me and for other people. So I will be glad if the provided information will be useful for someone, and it's worth mentioning that I'm open to any suggestions, comments, and argumented critisism.

      </div>
      <br>
      <div>
        To contact me send an email to <a href="mailto:yury.lapitsky@gmail.com">yury.lapitsky@gmail.com</a>
      </div>

      </br>
      <div> Thank you for coming and I hope you'll enjoy! </div>
      </br>
  </div>
</div>
