---
layout: default
---

<div width="100%">
  <div class="wrapper context_text">
      <div style="font-weight: bold;"> Welcome to my blog! </div>
      </br>
      <div> My name is Yury Lapitsky and I'm a software engineer at HiQo Solutions. [<a style="text-decoration: underline;" href="/about">about</a>] section contains more information related to my biography, hobbies and etc, in case you are interested in it. </div>
      </br>
      <div> All blog posts are available on the [<a style="text-decoration: underline;" href="/posts">posts</a>] page. Also you may find interesting to look at the my other activity listed on the [<a style="text-decoration: underline;" href="/projects">projects</a>] page </div>

      </br>
      <div> Probably you want to understand, why do you need to read this blog. Unfortunately, I can't help you with the direct answer on this question. It's up to you to decide should you read it or not. Instead of that, I'd try to describe my intents. I've started this blog as a try to share my thoughts about software engineering and related themes. It's one of the ways to organize experience and knowledge. And I will be glad if the provided information will be useful for someone, and it's worth to mention that I'm open to any suggestions, comments, and argumented critisism. Contact me using e-mail listed at the top of the page. </div>

      </br>
      <div> Thank you for coming and I hope you'll enjoy! </div>
      </br>
  </div>
</div>