---
layout: default
---
<div class="post">
    <div class="content-container {{ page.category }}">
        <div class="post-layout">
            {% if page.image %}
            <aside class="post-aside">
                <figure class="post-cover">
                    <div class="click-to-enlarge">
                        <img
                            click-to-enlarge
                            {% if page.image_alt %}
                            alt="{{ page.image_alt }}"
                            {% endif %}
                            class="post-cover_image webfeedsFeaturedVisual"
                            src="{{ page.image | relative_url }}"
                            {% if page.responsiveImage %}
                            srcset="{% for img in page.responsiveImage %}{{ img.src | relative_url }} {{ img.size }}w{% if forloop.last == false %},{% endif %}{% endfor %}"
                            {% endif %}
                        />
                    </div>
                </figure>
                {% include music-streaming-icons.html currPost=page %}
            </aside>
            {% endif %}
            <div class="post-main">
                <div class="post-content">
                    {{ content }}
                </div>
                <div class="post-metadata">
                    {% include music-entry-metadata.html currPost=page %}
                </div>
            </div>
        </div>
    </div>
</div>
