---
layout: default
---

<div width="100%">
  <div class="wrapper context_text">
      <div style="font-weight: bold; font-size: 20px;"> Available posts for << {{page.tag}} >> tag </div>
{% for post in site.tags[page.tag] %}
		<br>
		<br>
		<hr class="noprint">
		<br>
		<a href="{{ post.url }}" style="font-weight: bold; font-size: 18px;">
		<b> {{ post.title | replace: '_', ' ' }} </b>
		</a>
		<span style="font-weight: bold; font-size: 18px;">{{ post.date | date: "%m/%d/%Y" }}
		</span>
		<br>
		<br>	
		<span style="font-size: 18px;">{{ post.description }}</span>
		<br>
		<br>
		<span>
			{% for tag in post.tags %}
    			{% capture tag_name %}{{ tag }}{% endcapture %}
    			<a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
  			{% endfor %}
		</span>
		{% endfor %}
	</div>
</div>
